@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.signup-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f6f5f7;
}

.signup-container {
  position: relative;
  width: 900px;
  max-width: 100%;
  min-height: 600px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.signup-form-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.6s ease-in-out;
  flex-direction: column;
  padding: 0 50px;
  text-align: center;
}

.signup-sign-in-container {
  left: 0;
  z-index: 2;
}

.signup-sign-up-container {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.signup-container.right-panel-active .signup-sign-in-container {
  transform: translateX(100%);
}

.signup-container.right-panel-active .signup-sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}

.signup-overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.signup-container.right-panel-active .signup-overlay-container {
  transform: translateX(-100%);
}

.signup-overlay {
  background: linear-gradient(to right, #138d75, #138d75);
  color: #fff;
  position: relative;
  left: -100%;
  width: 200%;
  height: 100%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
  display: flex;
}

.signup-container.right-panel-active .signup-overlay {
  transform: translateX(50%);
}

.signup-overlay-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  text-align: center;
  transition: transform 0.6s ease-in-out;
}

.signup-overlay-left {
  transform: translateX(-20%);
}

.signup-container.right-panel-active .signup-overlay-left {
  transform: translateX(0);
}

.signup-overlay-right {
  right: 0;
  transform: translateX(0);
}

.signup-container.right-panel-active .signup-overlay-right {
  transform: translateX(20%);
}

.signup-form input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.signup-button {
  border-radius: 2px;
  border: 1px solid #138d75;
  background-color: #138d75;
  color: #000;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
  transition: transform 80ms ease-in;
}

.signup-button:active {
  transform: scale(0.95);
}

.signup-button:hover {
  background-color: #138d75;
}

.signup-h1 {
  font-weight: bold;
  margin-bottom: 20px;
}

.signup-p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  margin: 10px 0 20px;
}

.signbtn {
  margin-top: 20px;
  padding: 10px 25px;
  font-size: 14px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
