.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 40px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  z-index: 1000;
}

.navbar-logo {
  font-size: 22px;
  font-weight: 700;
  color: #16a085;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar-links li a {
  text-decoration: none;
  color: #2c3e50;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar-links li a:hover {
  color: #16a085;
}

.navbar-actions {
  display: flex;
  gap: 12px;
}

.btn-signin {
  color: #2c3e50;
  text-decoration: none;
  font-weight: 500;
}

.btn-signup {
  background: #16a085;
  color: white;
  text-decoration: none;
  padding: 8px 18px;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 500;
  transition: background 0.3s ease;
}

.btn-signup:hover {
  background: #138d75;
}


.navbar-actions {
  display: flex;
  gap: 12px;
  margin-right: 40px; /* espace à gauche du bord droit */
}

